DB_HOST=localhost
  DB_PORT=3306
  DB_USERNAME=root
  DB_PASSWORD=
  DB_NAME=ecole_primaire

  JWT_SECRET=pY0+R8XvGjM6zL9wK2bN4qA1sE5tH7uR9oP3iY8xT1v=
  JWT_EXPIRES_IN=24h

   PORT=3000
DATABASE_URL="mysql://root:@localhost:3306/ecole_primaire"